global  

defaults            
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s

frontend fe-apiserver
   bind 0.0.0.0:6443
   mode tcp
   option tcplog
   default_backend kube-apiserver

backend kube-apiserver
   mode tcp
   option tcplog
   option tcp-check
   balance roundrobin
   default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
{% for host in groups.masters -%}
{% filter indent(width=2) %}
   server {{ hostvars[host].inventory_hostname }} {{ hostvars[host]['private_ip'] }}:6443 check
{% endfilter %}
{% endfor %}
